@model IEnumerable<ShoppingWebbl5.Models.Product>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Users Statistics</h4>
                <p class="card-category">
                    Users statistics this month
                </p>
            </div>
            <div class="card-body">
                <div id="monthlyChart" class="chart chart-pie"></div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">2018 Sales</h4>
                <p class="card-category">
                    Number of products sold
                </p>
            </div>
            <div class="card-body">
                <div id="salesChart" class="chart"></div>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card card-tasks">
            <div class="card-header ">
                <h4 class="card-title">Tasks</h4>
                <button type="button" class="btn btn-success" id="#addModalCenter" onclick="openAdd()">
                    Add product
                </button>
            </div>
            <div class="card-body ">
                <div class="table-full-width">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="td-actions text-center">Order of list</th>
                                <th class="td-actions text-center">ProductName</th>
                                <th class="td-actions text-center">Image</th>
                                <th class="td-actions text-center">Quantity</th>
                                <th class="td-actions text-center">Price</th>
                                <th class="td-actions text-center">Original</th>
                                <th class="td-actions text-center">View</th>
                                <th class="td-actions text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product product in ViewBag.ListProduct)
                            {
                                <tr>
                                    <td class="nr td-actions text-center"></td>
                                    <td class="td-actions text-center">@product.ProductName</td>
                                    <td class="td-actions text-center"><img src="@product.Image" width="60" height="80"></td>
                                    <td class="td-actions text-center">@product.Quantity</td>
                                    <td class="td-actions text-center">@product.Price</td>
                                    <td class="td-actions text-center">@product.Original</td>
                                    <td class="td-actions text-center">@product.View</td>
                                    <td class="td-actions text-center">
                                        <div class="form-button-action">
                                            <button type="button" data-toggle="tooltip" class="btn btn-link <btn-simple-primary" title="Edit" id="#exampleModalCenter" onclick="openEdit(@product.Id);">
                                                <i class="la la-edit"></i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" class="btn btn-link btn-simple-danger" title="Remove" id="#deleteModalCenter" onclick="openDelete(@product.Id);">
                                                <i class="la la-times"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>



                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @{
                            int numberPage = (int)ViewBag.numberPage;
                            int pageCurrent = ViewBag.pageCurrent;
                            if (pageCurrent > 1)
                            {
                                int prePage = pageCurrent - 1;
                                <li class="page-item">
                                    <a class="page-link" href="?page=@prePage" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            int i;
                            for (i = 1; i < numberPage; i++)
                            {
                                if (i == pageCurrent)
                                {
                                    <li class="page-item active"><a class="page-link" href="?page=@i">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                                }
                            }
                            if (pageCurrent >= 1 && pageCurrent < numberPage)
                            {
                                int nextPage = pageCurrent + 1;
                                <li class="page-item">
                                    <a class="page-link" href="?page=@nextPage" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>


            </div>
        </div>
    </div>


    <div style="background-color:lightgreen;margin-left:20px;margin-bottom:20px" class="toast show" id="toastX">
        <div style="background-color:lightgreen;" class="toast-header">
        </div>
        <div class="toast-body">
            <p>Successfully</p>
        </div>
    </div>




    <script>
        window.onload = function () {
            $("#toastX").hide();
        };

        function openAdd() {
            var select = document.getElementById('activity_2');
            var options = "";
            $.ajax({
                url: "/Home/PopupAdd",
                type: "GET",
                data: "{}",
                success: function (res) {
                    console.log(res.data);
                    console.log(res.data.length);

                    if (res != null) {
                        var s = '<option value="-1">Please select one</option>';
                        for (var i = 0; i < res.length; i++) {
                            s += '<option value="' + res[i].id + '">' + res[i].categoryName + '</option>';
                        }
                        $("#list").html(s);

                        $('#addModalCenter').modal('show')
                        document.getElementById('#addModalCenter')
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }



        function openEdit(selectedItem) {
            $.ajax({
                url: "PopupEdit/" + selectedItem,
                type: "GET",
                dataType: 'json',
                processData: false,
                contentType: false,
                data: { id: selectedItem },
                success: function (res) {
                    if (res.data != null) {
                        var obj;
                        if (typeof res === 'object')
                            obj = res.data;
                        else if (typeof res === 'string')
                            obj = JSON.parse(res).data;
                        $('#id').val(obj.id);
                        $('#name').val(obj.productName);
                        $('#quantity').val(obj.quantity);
                        $('#price').val(obj.price);
                        $('#original').val(obj.original);
                        $('#image').val(obj.image);
                        $('#brand').val(obj.brand);
                        $('#category').val(obj.category);
                        $('#exampleModalCenter').modal('show')
                        document.getElementById('#exampleModalCenter')
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Update() {
            var product = {
                Id: $('#id').val(),
                ProductName: $('#name').val(),
                Quantity: $('#quantity').val(),
                Price: $('#price').val(),
                Original: $('#original').val(),
                Image: $('#image').val(),
                IdBrand: $('#brand').val(),
                IdCategory: $('#category').val(),
            };
            console.log(product.Id);
            console.log(product);
            $.ajax({
                type: "POST",
                dataType: 'JSON',
                url: "/Home/UpdateProductById",
                data: { product: product },
                success: function (result) {
                    $('#exampleModalCenter').modal('hide');
                    $('#id').val("");
                    $('#name').val("");
                    $('#quantity').val("");
                    $('#price').val("");
                    $('#original').val("");
                    $('#image').val("");
                    $('#brand').val("");
                    $('#category').val("");
                    console.log(result);
                    if (result.message === true) {
                        $("#toastX").show();
                        setTimeout(() => {
                            $("#toastX").toast('show')
                        }, 1000);
                    } else {
                        alert("Fail");
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function openDelete(selectedItem) {
            const data = JSON.stringify({
                "selectedItems": $('#sel').val()
            });
            $.ajax({
                url: "PopupDelete/" + selectedItem,
                type: "GET",
                dataType: 'json',
                processData: false,
                contentType: false,
                data: { id: selectedItem },
                success: function (res) {
                    if (res.data != null) {
                        var obj;
                        if (typeof res === 'object')
                            obj = res.data;
                        else if (typeof res === 'string')
                            obj = JSON.parse(res).data;
                        $('#id').val(obj.id)
                        $('#deleteModalCenter').modal('show')
                        document.getElementById('#deleteModalCenter')
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Delete() {
            var id = document.getElementById('id').value
            console.log(id);
            $.ajax({
                type: "POST",
                dataType: 'JSON',
                url: "/Home/DeleteProductById",
                data: { id: id },
                success: function (result) {
                    $('#deleteModalCenter').modal('hide');
                    $('#id').val("");
                    console.log(result);
                    if (result.message === true) {
                        $("#toastX").show();
                        setTimeout(() => {
                            $("#toastX").toast('show')
                        }, 1000);
                    } else {
                        alert("Fail");
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>


    @*Edit*@

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="recipient-name" class="col-form-label">Id:</label>
                                        <input type="text" readonly class="form-control" id="id">
                                        <label for="message-text" class="col-form-label">ProductName:</label>
                                        <input type="text" class="form-control" id="name">
                                        <label for="message-text" class="col-form-label">Quantity:</label>
                                        <input type="text" class="form-control" id="quantity">
                                        <label for="message-text" class="col-form-label">Price:</label>
                                        <input type="text" class="form-control" id="price">
                                    </div>
                                    <div class="col-6">
                                        <label for="message-text" class="col-form-label">Original:</label>
                                        <input type="text" class="form-control" id="original">
                                        <label for="message-text" class="col-form-label">Image:</label>
                                        <input type="text" class="form-control" id="image">
                                        <label for="message-text" class="col-form-label">Brand:</label>
                                        <input type="text" readonly class="form-control" id="brand">
                                        <label for="message-text" class="col-form-label">Category:</label>
                                        <input type="text" readonly class="form-control" id="category">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Update();">Update</button>
                </div>
            </div>
        </div>
    </div>



    @*Delete*@
    <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" class="form-control" id="id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="Delete();">Delete</button>
                </div>
            </div>
        </div>
    </div>


    @*Add*@
    <div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="message-text" class="col-form-label">ProductName:</label>
                                        <input type="text" class="form-control" id="name">
                                        <label for="message-text" class="col-form-label">Quantity:</label>
                                        <input type="text" class="form-control" id="quantity">
                                        <label for="message-text" class="col-form-label">Price:</label>
                                        <input type="text" class="form-control" id="price">
                                    </div>
                                    <div class="col-6">
                                        <label for="message-text" class="col-form-label">Original:</label>
                                        <input type="text" class="form-control" id="original">
                                        <label for="message-text" class="col-form-label">Image:</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                       aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                            </div>
                                        </div>
                                        <label class="col-form-label">Category:</label>
                                        <select id="category" class="form-select">
                                            <option value="1 selected">Hat</option>
                                            <option value="2">Shirt</option>
                                            <option value="3">Trousers</option>
                                            <option value="4">Socks</option>
                                            <option value="5">Shoes</option>
                                            <option value="6">Bag</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="Update();">Add</button>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        var a = document.getElementsByClassName("nr");
        for (var i = 0; i < a.length; i++) {
            a[i].innerHTML = (i + 1);
        }
    </script>

</div>